@charset "utf-8";
/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  Helpers > Root
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
// :root {
//   @each $color, $value in $colors {
//     --#{$color}: #{$value};
//   }

// }
:root {
	--dark: #19282B;
	--primary-1:#15DBDA;
	--white: #FFFFFF;
	--primary: #3FEDEC;
	--neutral: #212B33;
	--neutral-4:#CBD5DE;
	--primary-2:#8CF4F4;
	--neutral-3:#98ACBC;
	--primary-2-0fa5a4:#0FA5A4;
	--secondary: #6576EA;
	--neutral-1:#425767;
	--neutral-5:#E5EAEE;
	--alerts: #F0C052;
	--light: #EDF0F0;
	--info: #3F97ED;
	--link: #54D8D7;
	--snow: #FAFAFA;
	--azure: #F2F4F4;
	--lightgrey: #F8F9FA;
	--success: #97ED3F;
	--tertiary: #EAFF0C;
	--danger: #F07152;
	--warning: #ED953F;
	--secondary-1:#8491EE;
	--alerts-1:#F3CD75;
	--primary-4:#D9FBFB;
	--primary-5:#F5FEFE;
	--primary-3:#0A6E6D;
	--primary-4-053737:#053737;
	--success-1:#79DB15;
	--success-2:#5BA50F;
	--success-3:#447B0C;
	--success-4:#2D5208;
	--success-1-acf165:#ACF165;
	--success-2-c1f48c: #C1F48C;
	--success-3-d5f8b2:#D5F8B2;
	--success-4-eafbd9:#EAFBD9;
	--success-5:#F5FDEC;
	--danger-1:#F38D75;
	--danger-2:#F6AA97;
	--danger-3:#F9C6BA;
	--danger-4:#FCE3DC;
	--danger-5:#FEF8F6;
	--danger-1-eb4017:#EB4017;
	--danger-2-b22f0f: #B22F0F;
	--danger-3-85230c: #85230C;
	--danger-4-591808:#591808;
	--warning-1:#F1AA65;
	--warning-2:#F4BF8C;
	--warning-3:#F8D5B2;
	--warning-4:#FBE5CF;
	--warning-5:#FEFAF5;
	--warning-1-db7715:#DB7715;
	--warning-2-a5590f: #A5590F;
	--warning-3-6e3b0a: #6E3B0A;
	--warning-4-522d08:#522D08;
	--alerts-2:#F6D997;
	--alerts-3:#F9E6BA;
	--alerts-4:#FCF2DC;
	--alerts-5:#FEFCF6;
	--alerts-1-ebaa17:#EBAA17;
	--alerts-2-b2800f: #B2800F;
	--alerts-3-77560a: #77560A;
	--alerts-4-594008:#594008;
	--info-1:#65ACF1;
	--info-2:#8CC1F4;
	--info-3:#B2D5F8;
	--info-4:#D9EAFB;
	--info-5:#ECF5FD;
	--info-1-1579db: #1579DB;
	--info-2-0f5ba5:#0F5BA5;
	--info-3-0c447b: #0C447B;
	--info-4-082d52:#082D52;
	--secondary-2:#A3ADF2;
	--secondary-3:#C1C8F7;
	--secondary-4:#E0E4FB;
	--secondary-5:#F0F1FD;
	--secondary-1-2a42e2:#2A42E2;
	--secondary-2-182cb1:#182CB1;
	--secondary-3-101d76:#101D76;
	--secondary-4-0c1658:#0C1658;
	--tertiary-1:#EEFF3D;
	--tertiary-2:#F2FF6D;
	--tertiary-3:#F7FF9E;
	--tertiary-4:#FAFFC2;
	--tertiary-5:#FDFFE7;
	--tertiary-1-c3d600:#C3D600;
	--tertiary-2-92a000:#92A000;
	--tertiary-3-6e7800:#6E7800;
	--tertiary-4-3d4300:#3D4300;
	--neutral-2:#64829A;
	--neutral-6:#F2F5F7;
	--dark-1:#395C63;
	--dark-2:#5A909B;
	--dark-3:#8FB6BE;
	--dark-4:#C7DBDE;
	--dark-5:#E3EDEF;
	--dark-6:#F1F6F7;
	--light-1:#C6CFCF;
	--light-2:#ACBABA;
	--light-3:#92A4A4;
	--light-4:#788E8E;
	--light-5:#627575;
	--primary-1-65f1f0:#65F1F0;
	--primary-3-b2f8f7:#B2F8F7;
	--link-1:#76E0DF;
	--link-2:#98E8E7;
	--link-3:#BBEFEF;
	--link-4:#D4F5F5;
	--link-5:#F6FDFD;
	--link-1-2dc3c2:#2DC3C2;
	--link-2-219392:#219392;
	--link-3-196e6d: #196E6D;
	--link-4-0e3d3d: #0E3D3D;
}